
html{
  font-size: 10px;
  color: #3c3c3c;
}
/*   common   */
.header-bar{
  font-size: 1.6rem;
  background: #fff;
  text-align: left;
  color: #5e5e5e;
  padding: .5rem 1rem;
  overflow: hidden;
}
.tit-big{
  font-size: 2.5rem;
  color: #fff;
  padding: 3rem 0 4rem 0;
  font-weight: bold;
  text-align: center;
}
.vresion{
  font-size: 1rem;
  font-weight: normal;
  vertical-align: top;
}
.t-center{
  text-align: center;
}
.t-left{
  text-align: left;
}
.t-right{
  text-align: right;
}
.van-hairline--top-bottom::after,
.van-hairline-unset--top-bottom::after{
  border: none;
}
.main .van-tab{
  font-weight: bold;
}


/*  组件共用样式    */

/*
内容
template中最大的div
*/
.van-content {
  padding: 5px 5px;
  color: #3c3c3c;
}

/*卡片样式*/
.card {
  padding: 1rem 1.5rem;
  position: relative;
  box-sizing: border-box;
  color: #323233;
  opacity: 0.9;
  border-radius: 4px;
  line-height: 1.7rem;
  font-size: 1.5rem;
  background-color: #f8fbfc;
  margin: 1rem 0;
}

.normal-title {
  font-size: 1.4rem;
  padding-left: 1rem;
  line-height: 1.5rem;
}

.normal-c-url {
  color: #8eaccc;
}

.normal-c {
  color: #888888;
}
.small-c {
  color: #5e5e5e;
}

.ft-weight {
  font-weight: bold;
}

.yellow-c {
  color: #d9aa60;
}

.warn-c {
  color: #d96c60;
}
